section {
  width: 100vw;
  background-color: #edecec;
}

.wrapper {
  padding: 25px 0;
  margin: 0 auto;
  max-width: 100%;
}

.newsfeed {
  background-color: #edecec;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media screen and (min-width: 700px) {
  .newsfeed {
    gap: 52px;
  }

  .wrapper {
    padding: 52px 0;
  }
}

.api_space {
  height: 20vh;
  font-weight: bold;
  background-color: paleturquoise;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
