.news_section {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 99%,
    rgba(255, 255, 255, 0) 100%
  );
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: var(--primary-accent);
  font-style: bolder;
  letter-spacing: 0.16px;
  line-height: 36.2px;
  margin-left: 30px;
  margin-bottom: 30px;
}

section {
  width: 100vw;
  background-color: #edecec;
}

.wrapper {
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 0 auto;
  max-width: 100%;
}

.newsfeed {
  background-color: #edecec;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media screen and (min-width: 700px) {
  .newsfeed {
    gap: 52px;
  }

  .wrapper {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
