.nav_item {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_button {
    width: 50px;
    height: 75px;
    background-color: aquamarine;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon_button {
    filter: brightness(1.2);
}