ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.navbar {
    height: 35px;
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar_nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}