/* all the variabl */
:root {
  --primary-accent: #f86624;
  --secondary-accent: #3b2911;
  --background-color: #edecec;
  --opace-background: rgba(237, 236, 236, 0.6);
  --card-background: #f4f2f3;
  --main-font: "Work Sans", sans-serif;
  --standard-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  --accent-shadow: 1px 1px 2px var(--secondary-accent);
}
