.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.circle {
  width: 50vw;
}

.image img {
  width: 30vw;
  position: absolute;
  top: 35%;
  left: 37%;
}

@media (max-width: 700px) {
  .circle {
    width: 90vw;
  }
  .image img {
    width: 50vw;
    top: 40%;
    left: 27%;
  }
}
